@using TaskChecker.Web.Models.Entities
@model TaskChecker.Web.Models.Entities.CourseClass

@{
    ViewBag.Title = "Home Page";
    
}

@if (Model == null)
{
    <h4>You don have active classes.</h4>
}
else
{
    <h4>You have available lab works.</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("IsOpened")
            </th>
            <th>
                @Html.DisplayName("DueDate")
            </th>
            <th></th>
        </tr>

        @foreach (LabWork item in Model.LabWorks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpened)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "LabWork", "Home", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
}
