@model TaskChecker.Web.Models.Entities.Student

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h3>Hello!</h3>
    <h4>Your account hasn't been activated yet. Ask your teacher to add you to the system.</h4>
}
else
{
    <h3>Hello @Model.FullName!</h3>
    <h4>You have been enrolled in the following courses:</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("Opened")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Courses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @(item.IsOpened ? "Yes" : "No")
                </td>
                <td>
                    @Html.ActionLink("Details", "CourseClass", "Home", new { id = item.Id }, null)
                </td>
            </tr>
        }

    </table>
}