@model TaskChecker.Web.Models.LabWorkViewModel

@{
    ViewBag.Title = "Lab Work";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LabWork</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LabWork.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabWork.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabWork.IsOpened)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabWork.IsOpened)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabWork.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabWork.DueDate)
        </dd>
        <dt>
            @Html.DisplayName("Your Mark")
        </dt>

        <dd>
            @(Model.LabWorkResult == null ? 0 : Model.LabWorkResult.Mark)
        </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to Class", "Index", "Home")
</p>
<h4>Exercises in this lab work</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Description")
        </th>
        <th>
            @Html.DisplayName("Max Value")
        </th>
        <th>
            @Html.DisplayName("Your Value")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.LabWork.Exercises) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @{ 
                    var exerciseResult = Model.LabWorkResult.ExerciseResults.FirstOrDefault(x => x.Exercise.Id == item.Id);
                }
                <span>@(exerciseResult == null ? 0 : exerciseResult.Mark)</span>
            </td>
            <td>
                @Html.ActionLink("Details", "Exercise", "Home", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
