@model TaskChecker.Web.Models.Entities.Submission

@{
    ViewBag.Title = "Submission Result";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Submission Result</h2>

@using (Html.BeginForm("Submission", "Home", FormMethod.Post))
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsTested)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsTested)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsFinal)
            </dt>

            <dd>
                @Html.EditorFor(model => model.IsFinal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SubmittedContent.Content)
            </dt>

            <dd style="white-space: pre-wrap">@Html.DisplayFor(model => model.SubmittedContent.Content)</dd>

        </dl>

        <h4>Test execution results:</h4>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("IsPassed")
                </th>
                <th>
                    @Html.DisplayName("Information")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.TestResults)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsPassed)
                    </td>
                    <td style="white-space: pre-wrap">@Html.DisplayFor(modelItem => item.Information)</td>
                </tr>
            }

        </table>

    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
}

@Html.ActionLink("Back to Exercise", "Exercise", new {Id = Model.Exercise.Id})